
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>A play with form</title>
    <meta name="Form" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
  
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
    <style>
        #wrapper
        {
            border: 2px solid black;
        }
        form
        {
            background-color:rgb(173, 216, 230);
            font-family: Arial, sans-serif; padding: 10px;
        }
        label
        {
            float: left;
            width: 100px; clear: left; text-align: right;
            padding-right: 10px; margin-top: 10px;
        }
        input, textarea
        {
            display: inline;
            margin-top: 10px;
        }
        #mySubmit
        {
            margin-left: 110px;
        }
        .redS
        {
            color: red;
        }

    </style>
</head>
<body style="background-image: url('https://media.giphy.com/media/l41lQIclE3lItAlfq/giphy.gif'); "> 

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="text-center">
      <div class="inner">
        <h3 class="masthead-brand">House App</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/maps">Map</a>
          <a class="nav-link" href="/house/add">Add</a>
        </nav>
      </div>
    </div>
    
    </header>