<%- include('header.ejs') -%> 
            
           
            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
            </script>
            <!-- old version of JQuery! -->
            <!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
            <script type="text/javascript">


                var map;

                function initMap() {
                    var nanaimo = {lat: 49.159700, lng: -123.907750};
                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 13,
                        center: nanaimo
                    });
              
                    
                    <% for(var i=0; i<houses.length; i++) { %>
                       var myLatlng = {lat:<%=houses[i].location._latitude%>, lng:<%=houses[i].location._longitude%>}; 
                        var marker =new google.maps.Marker({ position:myLatlng });
                        marker.setMap(map); 
                        <% } %>               
                }
                window.onload = loadMap;
                </script>
                </head>
                <body>

                    <br>
                    <div id="map" style="width: 800px; height: 600px"></div>
                   <!-- <a href="#" id="get-data">Attack! (one round)</a>
                    <br>
                    <a href="#" id="reset">Reset</a>
                    <br>
                    <a href="makepokemon.php" id="get-data">Fight with uour pokemon</a>-->
            
                    <div id="show-data"></div>
            
                    <!-- NOTE this google map is using an ITAS Google Map key! Do not use for any of your private applications hosted live anywhere-->
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBqf_E1hYDcO8e7PMkoQ3Q4VbZ-jJZ7DE&callback=initMap">
                    </script>
            
            
                    </body>
                    </html>
